@import '../index.scss';

*{
    color: $light;
}

body{
    padding: 5rem 10vw;
    background-color: $dark;

    input, button{
        padding: 0.5rem 1rem;
        border: solid 0.15rem $primary;
        border-radius: 0.5rem;
        background-color: transparent;
        box-shadow: 0 0 0.5rem $primary;
        transition: 0.3s;
        opacity: 0.7;
        cursor: pointer;
        outline: none;

        &:hover, &:focus{
            opacity: 1;
        }

        &:hover{
            box-shadow: 0 0 0.5rem $primary, inset 0 0 0.5rem $primary;
        }
    }

    form{
        margin: auto;
        padding: 2rem;
    }
}

